.corPagina {
    background-color: #F5F5F5 !important;
}

.larguraMainContentEventos {
    width: 70vw!important;
    margin: 0 auto;
}

.bordaRedor{
    border: 2px solid red;
}

.noMarginPadding {
    margin: 0 !important;
    padding: 0 !important;
}