.primeiraDescricao {
    background-color: #FAFAFA !important;
}

.conteudo {
    width: 80vw!important;
    margin: 0 auto;
}

.bordaRedor{
    border: 2px solid red;
}

.sombra{
    box-shadow: 0 1px 20px 0 #B3B5BD;
}