.Texto-Grande {
    font-size: 32px !important;
}

.Texto-Medio {
    font-size: 24px !important;
}

.Texto-Pequeno {
    font-size: 20px !important;
}

.Texto-MuitoPequeno {
    font-size: 16px !important;
}

.Texto-Branco {
    color: white !important;
}

.Texto-Preto{
    color: black !important;
}

.Texto-Azul{
    color: #1F82B2 !important;
}

.Texto-Cinza{
    color: #70737A !important;
}

.Texto-Justificado{
    text-align: justify;
}

.TituloGeral
{
    font-style: Bold;
    Font-size: 32px;
    Line-height: 50px;
    Line-height: 100%;
}

.frase-banner{
    width: 50%;
}